@model Memorial3.Models.Memorial

@{
    ViewData["Title"] = "Deletar";
}

<h1>Delete</h1>

<h3>Você tem certeza que quer deletar esse memorial?</h3>
<div>
    <h4>Memorial</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Historia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Historia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataFalecimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataFalecimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Formacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Formacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Religiao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Religiao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hobbies)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hobbies)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemorialPictureURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemorialPictureURL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Coletivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Coletivo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a asp-controller="Store" asp-action="Index" class="btn btn-warning">
            <i class="fas fa-arrow-left"></i> Voltar para Página Inicial
        </a>
    </form>
</div>
