@model Memorial3.Models.Cart

<h1>Seus Memoriais</h1>

@if (Model.CartItems.Count > 0)
{
    <div class="row">
        @foreach (var item in Model.CartItems)
        {
            <div class="col-3">
                <div class="card my-2 store-card">
                    <a class="a-cleanup" asp-controller="Store" asp-action="Details" asp-route-id="@item.Memorial.Id">
                        <img src="@item.Memorial.MemorialPictureURL" class="card-img-top card-img-custom" style="height: 10em;" />
                        <div class="card-body" style="height: 10em;">
                            <h5 class="mb-3">@item.Memorial.Name</h5>
                            <span class="card-text" style="margin-top:-5px; font-size:13px;"><b>Data de Falecimento:</b> @item.Memorial.DataFalecimento.ToString("dd/MM/yyyy")</span><br>
                            <span class="card-text" style="font-size:13px;"><b>Coletivo:</b> <br>@item.Memorial.Coletivo</span>
                        </div>
                        <div class="card-body">
                            <a asp-controller="Cart" asp-action="RemoveFromCart" asp-route-id="@item.Memorial.Id" class="btn btn-danger float-right">
                                <i class="fa-solid fa-user-xmark"></i> Remover
                            </a>
                        </div>
                    </a>
                </div>
            </div>
        }
    </div>
}
else
{
    <h3 class="text-center">Você ainda não adicionou nenhum memorial aos seus memoriais.</h3>
}
