@model IEnumerable<Memorial3.Models.Memorial>

@{
    ViewData["Title"] = "Memoriais";
}

<h2 class="my-4">Memoriais <a asp-controller="Memorials" asp-action="Create" class="button3"><i class="fa-solid fa-plus"></i> Criar Memorial</a> </h2>

<form asp-action="Index" class="col-2 my-1 p-2">
    <div>
        Procurar
        <div class="my-1">
            <input type="text" name="searchString" placeholder="Memorial ou Coletivo" class="form-control-sm col-12" />
        </div>
        <input type="submit" value="Procurar" class="btn btn-primary btn-sm" />
        <a asp-action="Index" class="btn btn-secondary btn-sm float-right">Limpar</a>
    </div>
</form>

<div class="row">
    @foreach (var memorial in Model)
    {
        <div class="col-3">
            <div class="card my-2 store-card">
                <a class="a-cleanup" asp-controller="Store" asp-action="Details" asp-route-id="@memorial.Id">
                    <img src="@memorial.MemorialPictureURL" class="card-img-top card-img-custom" />
                    <div class="card-body" style="height: 10em;">
                        <h5 class="mb-3">@memorial.Name <img src="~/img/laco.png" width="8%" /></h5>
                        <span class="card-text" style="margin-top:-5px; font-size:13px;"><b>Data de Falecimento:</b> @memorial.DataFalecimento.ToString("dd/MM/yyyy")</span><br>
                        <span class="card-text" style="font-size:13px;"><b>Coletivo:</b> <br>@memorial.Coletivo</span>
                    </div>
                    <div class="card-body">
                        <a id="addToCartBtn-@memorial.Id" asp-controller="Cart" asp-action="AddToCart" asp-route-id="@memorial.Id" class="btn btn-primary float-right store-btn">
                            <i class="fa-solid fa-user-plus"></i> Adicionar
                        </a>
                    </div>
                </a>
            </div>
        </div>
    }
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('a[id^="addToCartBtn-"]').click(function (e) {
                e.preventDefault();

                var $this = $(this);
                var url = $this.attr('href');

                $.ajax({
                    type: 'POST',
                    url: url,
                    success: function (response) {
                        // Se o item for adicionado ao carrinho com sucesso, altere a aparência do botão
                        if ($this.hasClass('btn-primary')) {
                            $this.removeClass('btn-primary').addClass('btn-success');
                            $this.find('i').removeClass('fa-info').addClass('fa-check');
                        } else {
                            $this.removeClass('btn-success').addClass('btn-primary');
                            $this.find('i').removeClass('fa-check').addClass('fa-info');
                        }
                    },
                    error: function () {
                        // Aqui você pode lidar com erros, como exibir uma mensagem
                        alert('Você precisa estar logado para adicionar aos seus memoriais.');
                    }
                });
            });
        });
    </script>
}




